.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-top: 15px;
}

.header {
  flex-direction: column;
  min-height: 86px;
  align-items: center;
  flex: 1;
}

/* .photo img {
  width: 86px;
  height: 86px;
} */

.photo img {
  width: 150px;
  height: 150px;
  margin-right: 0;
}

.menu {
  flex: 2;
  justify-content: flex-end;
  text-align: center;
}

.bio {
  padding: 5px 15px;
  margin-bottom: 10px;
}

.tags {
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
}

.works-block {
  margin: 0 10px 30px 10px;
  min-height: 150px;
}

.works-block:last-child {
  margin-bottom: 75px;
}
.works-block p {
  margin: 10px 0 0 160px;
}

.image {
  float: left;
}
.image img {
  height: 150px;
}

.footer {
  height: 100px;
  justify-content: center;
  padding: 0 30px 30px 30px;
  flex-wrap: wrap;
  align-items: center;
}

.footer a,
.contacts a {
  margin-left: 5px;
  padding: 5px;
}

.heading {
  padding: 10px;
}

/*--------------------
  contacts page styles
  --------------------*/

.contacts {
  justify-content: flex-start;
}
.message-me {
}

.twitter {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}

/*-------
   media
  -------*/

@media screen and (min-width: 1000px) {
  .header,
  .works {
    display: flex;
    justify-content: space-evenly;
  }

  .works {
    flex-wrap: wrap;
  }
  .header {
    flex-direction: row;
  }
  .menu {
    display: flex;
    margin-right: 50px;
  }
  .photo {
    margin-left: 50px;
  }
  .photo img {
    margin-right: 20px;
  }
  .bio {
    padding: 5px 50px;
  }
  .about-me {
    margin-bottom: 0;
    text-align: center;
  }
  .tags {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .works-block {
    width: 225px;
    height: 250px;
  }

  .image,
  .description {
    display: block;
    float: none;
  }

  .image img {
    width: 225px;
    height: 250px;
    border-radius: 5px;
  }

  .menu a {
    margin-right: 50px;
  }

  .works-block {
    margin: 10px 20px 145px;
  }
  .works-block:last-child {
    margin-bottom: 100px;
  }
  .works-block p {
    margin: 5px 0;
  }

  .footer {
    margin-top: 10px;
    justify-content: flex-start;
  }
}
