body {
  background: url(../img/memphis-colorful.png) repeat #efefef;
  background-position: center;
  font-family: 'Inconsolata', monospace;
}

body *::-moz-selection {
  background: #0043f7;
  color: #FDFFFC;
}
body *::-webkit-selection {
  background: #0043f7;
  color: #FDFFFC;
}
body *::selection {
  background: #0043f7;
  color: #FDFFFC;
}

.container {
  background: url(../img/top-bg.png) repeat-x;
  background-position: top;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(150,150,150,0.35);
  -moz-box-shadow: 0px 0px 30px 0px rgba(150,150,150,0.35);
  box-shadow: 0px 0px 30px 0px rgba(150,150,150,0.35);
}

.header { margin-top: 10px; }

.about-me { line-height: 1.5; text-align: center; }

.about-me span:first-child {
  font-size: 24px;
  font-weight: bold;
  color: #f00;

}
.about-me span:last-child {
  font-size: 20px;
  font-weight: normal;
  color: #0043f7;
}

.menu {
  font-size: 24px;
  text-transform: uppercase;
}

.menu a {
  margin-right: 10px;
  line-height: 1.5;
  color: #011627;
  text-decoration: none;
  border-bottom: 3px solid #0043f7;
  padding: 5px 5px 0 5px;
}

.menu a:hover {
  border-bottom: 3px solid #f00;
  background: #0043f7;
  color: #fff;
 }

.menu a:active { color: #011627; }
.menu a:last-child { margin-right: 0; }

.bio {
  font-size: 18px;
  color: #011627;
}

/* .bio p { background-color: #fff; } */
.bio span { font-size: 16px; color: #8E8E8E; background-color: #fff; }

/* .bio {
  background: url(../img/wrap.png) no-repeat;
  background-position: top center;
} */

.tags a {
  text-transform: lowercase;
  font-size: 14px;
  color: #8E8E8E;
  text-decoration: none;
}

.tags a:hover { color: #011627; }

.works {
  
}

.work1 {

}

.work1 p:first-child { font-weight: bold; }
.work1 p:last-child { color: #8E8E8E; font-size: 14px; }
.work1 p {  }

.description {

}

.footer {
  height: 100px;
  background: url(../img/footer-bg.png) no-repeat;
  background-position: right bottom;
}

.footer span {
  font-weight: bold;
  color: #f00;
  background-color: #fff;
  display: block;
  margin-bottom: 5px;
}

.footer a {
  margin-left: 5px;
  text-decoration: underline;
  color: #011627;
  background-color: #fff; 
}

.footer a:hover {
  color: #0043f7;
}



@media screen and (min-width: 975px) {

  .work1 p { font-size: 16px; }
  .about-me { text-align: left; }

  .about-me span:first-child,
  .about-me span:last-child {
    padding-left: 10px;
  }

}