body {
  background-color: #efefef;
  font-family: 'Roboto', sans-serif;
}

body *::-moz-selection {
  background: #4ECDC4;
  color: #FDFFFC;
}
body *::-webkit-selection {
  background: #4ECDC4;
  color: #FDFFFC;
}
body *::selection {
  background: #4ECDC4;
  color: #FDFFFC;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-top: 15px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background-color: #fff;
}

.header {
  min-height: 86px;
  align-items: center;
  flex: 1;
}

.photo {
  float: left;
  margin-left: 50px;
}

.about-me {
  line-height: 1;
}

.about-me span:first-child { font-size: 24px; font-weight: bold; color: #FF6B6B; }
.about-me span:last-child { font-size: 20px; font-weight: normal; color: #4ECDC4; }

.menu {
  flex: 2;
  justify-content: flex-end;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.menu a {
  margin-right: 10px;
  line-height: 1.5;
  color: #011627;
  text-decoration: none;
  border-bottom: 3px solid #4ECDC4;
}

.menu a:hover { border-bottom: 3px solid #FF6B6B; }
.menu a:last-child { margin-right: 0; }

.bio {
  font-size: 20px;
  color: #011627;
  line-height: 1.5;
  padding: 5px 50px;
}

.bio span { font-size: 16px; color: #8E8E8E; }

.tags {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.tags a {
  margin-right: 50px;
  color: #8E8E8E;
  text-decoration: none;
}

.tags a:hover { color: #011627; border-bottom: 1px solid #4ECDC4; }
/* .tags a:last-child { margin-right: 0;} */

.works {
  
}

.work1 {
  border: 1px dotted black;
  margin: 0 10px 30px 10px;
  min-height: 225px;
  min-width: 225px;
}

.work1 img { height: 225px; }
.work1 p:first-child { font-weight: bold; }
.work1 p:last-child { color: #8E8E8E; font-size: 14px; }

.work1 p {
  margin: 30px 10px;
  font-size: 36px;
}

.image {
  float: left;
  width: 250px;
}

.description {
}

@media screen and (min-width: 975px) {
  .header,
  .works {
    display: flex;
    justify-content: space-around;
  }

  .menu { display: flex; margin-right: 50px; }
  
  .work1 {
    width: 200px;
    height: 200px;
  }

  .image, .description {
    display: block;
    float: none;
  }

  .menu a {
    margin-right: 50px;
  }

  .work1 {
    margin: 0 10px 125px 10px;
  }

  .work1 p { margin: 5px 0; font-size: 16px; }
}

.footer {
  padding: 0 30px 30px 30px;
}

.footer span { font-weight: bold; color: #FF6B6B; }

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
