body {
  background: url(../img/bg.png) repeat #fff;
  background-position: center;
  font-family: 'Inconsolata', monospace;
}

body *::-moz-selection { background: #0043f7; color: #fdfffc; }
body *::-webkit-selection { background: #0043f7; color: #fdfffc; }
body *::selection { background: #0043f7; color: #fdfffc; }

.container {
  background: url(../img/top-bg.png) no-repeat;
  background-position: top center;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(150,150,150,0.35);
  -moz-box-shadow: 0px 0px 30px 0px rgba(150,150,150,0.35);
  box-shadow: 0px 0px 30px 0px rgba(150,150,150,0.35);
}

.header { margin-top: 10px; }
.about-me { line-height: 1.5; text-align: center; }
.about-me a { text-decoration: none; }

.about-me span:first-child {
  font-size: 24px;
  font-weight: bold;
  color: #f00;
}

.about-me span:last-child {
  font-size: 20px;
  font-weight: normal;
  color: #0043f7;
}

.menu {
  font-size: 24px;
  text-transform: uppercase;
}

.menu a {
  margin-right: 10px;
  line-height: 1.5;
  color: #011627;
  text-decoration: none;
  border-bottom: 3px solid #0043f7;
  padding: 5px 5px 0;
  transition: .2s ease;
}

.menu a:hover {
  border-bottom: 3px solid #f00;
  background: #0043f7;
  color: #fff;
 }

.menu a:active { color: #011627; }
.menu a:last-child { margin-right: 0; }

.bio {
  font-size: 18px;
  color: #011627;
}

.bio span {
  font-size: 14px;
  color: #8e8e8e;
}

.tags a {
  text-transform: lowercase;
  font-size: 14px;
  color: #8e8e8e;
  text-decoration: none;
  padding: 10px;
}

.tags a:hover { color: #011627; }

.works-block:last-child { border: 1px dashed #000; }
.works-block p:first-child { font-weight: bold; }
.works-block p:nth-child(2) { font-style: italic; }
.works-block p:last-child { color: #8e8e8e; font-size: 14px; }

.works-block a,
.works-block a:visited {
  color: #011627;
  text-decoration: none;
}

.works-block:hover {
  position: relative;
  top: -3px;
  opacity: .85;
  transition: .2s;
}

.works-block:last-child:hover {
  top: 0;
  opacity: 1;
}

.footer {
  background: url(../img/footer-bg.png) no-repeat;
  background-position: center bottom;
}

.heading {
  font-weight: bold;
  color: #f00;
  background-color: #fff;
  display: block;
  padding: 0 10px;
}

.footer a,
.contacts a {
  font-size: 18px;
  text-decoration: underline;
  color: #011627;
  background-color: #fff;
}

.footer a:hover,
.contacts a:hover {
  background-color: #0043f7;
  color: #fff;
}


/*---------------------
  contacts page styles
  --------------------*/

textarea {
  overflow: auto;
  resize: none;
  width: 100%;
  height: 150px;
  background: #fff;
  margin: 10px 0;
}

input.submit {
  background: #0043f7;
  color: #fff;
  border: none;
  padding: 10px 50px;
  text-transform: lowercase;
}

input.submit:hover {
  background: blue;
  cursor: pointer;
}

/*--------------------------
  to the stars button styles
  ------------------------*/

#to-the-stars {
  position: fixed;
  bottom: 30px;
  right: -20px;
}

#to-the-stars a {
  display: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

#triangle {
  border-left: 100px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #0043F7;
}

#triangle:hover { border-bottom: 75px solid #f00; }



@media screen and (min-width: 700px) {

  .works-block p { font-size: 16px; }
  .about-me { text-align: left; }
  .photo { padding-right: 10px; }

}

@media screen and (min-width: 1300px) {

  #to-the-stars a { display: inline; }

}
