body {
  background: #000 url(../img/wood-texture.jpg) no-repeat center fixed;
  background-size: cover;
  font-family: 'Times New Roman', Times, serif;
}

a { text-decoration: none; }

.top-ragged { background: url(../img/top-ragged.png) no-repeat center; }
.bottom-ragged { background: url(../img/bottom-ragged.png) no-repeat center; }

.content {
  background: #fff;
  -webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.75);
}

.header-descr p {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.header-descr a { color: #a1a1a1; }
.header-descr a:hover { text-decoration: underline; }

.logo p { line-height: .9; }
.logo span { color: #000; }

.logo span:first-child {
  font-size: 80px;
  font-weight: bold;
}

.logo span:last-child { font-size: 20px; }

.menu {
  border-top: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
}

.menu a {
  font-size: 18px;
  text-decoration: none;
  color: #000;
  transition: .2s;
}

.menu a:hover { color: white; background: #a1a1a1; }

.beer-slide span,
.food-slide span {
  color: #000;
}

.food-slider { border-bottom: 1px solid #a1a1a1; }

.beer-slide span:nth-child(2),
.food-slide span:nth-child(2) {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.beer-slide span:last-child,
.food-slide span:last-child {
  font-size: 14px;
  text-transform: lowercase;
}

.slider-link-beer:hover { background: url(../img/fire.gif) no-repeat center center; }
.slider-link-food:hover { background: url(../img/fire.gif) no-repeat top center; }

.content-descr {
  font-size: 18px;
  text-indent: 1em;
}

.contacts { font-size: 18px; }

.contacts a {
  text-decoration: underline;
  color: #000;
}

.contacts a:hover { color: #a1a1a1; }

.year-tm-block {
  border-top: 1px solid #a1a1a1;
  font-size: 18px;
}



/*----------------
  beer page styles
  ----------------*/

.beer-img:hover { opacity: .85; }

.beer-descr p:first-child {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.beer-descr p:nth-child(2) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.beer-descr p:nth-child(3) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.beer-descr p:nth-child(4) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.beer-descr p:last-child {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
}
