.content {
  max-width: 1300px;
  margin: auto;
}

.header {
  min-height: 100px;
}

.logo {
  flex: 1;
  border: 2px solid red;
}

.menu {
  flex: 2;
  border: 2px solid green;
  justify-content: flex-end;
}

.tags {
  display: flex;
  justify-content: center;
}

.works {
  
}

.work1 {
  border: 1px dotted black;
  margin: 0 10px 20px 10px;
  min-height: 200px;
}

.image,
.description {
  float: left;
}

@media screen and (min-width: 800px) {
  .header,
  .menu,
  .works {
    display: flex;
    justify-content: center;
  }

  .work1 {
    width: 200px;
    height: 200px;
  }

  .image, .description {
    display: block;
    float: none;
  }
}
